<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.appepicnovels">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/hi"
            android:label="@string/app_name"
            android:roundIcon="@drawable/hi"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyApplication">
        <activity
                android:name=".BlockedChannelsActivity"
                android:exported="false"/>
        <activity
                android:name=".ChannelFollowActivity"
                android:exported="false"/>
        <activity
                android:name=".SavedContentActivity"
                android:exported="false"/>
        <activity
                android:name=".HistoryActivity"
                android:exported="false"/>
        <activity
                android:name=".GeneralSettingsActivity"
                android:exported="false"/>
        <activity
                android:name=".ManagenActivity"
                android:exported="false"
                android:label="@string/title_activity_manage_account"
                android:theme="@style/Theme.MyApplication"/> <!-- Khai báo DefaultActivity -->
        <activity
                android:name=".DefaultActivity"
        />
        <activity android:name=".AdminActivity"/>
        <activity android:name=".NotificationActivity"/>
        <activity android:name=".ChapterActivity"/>
        <activity android:name=".ListChapterActivity"/>
        <activity
                android:name=".DiscoverActivity"
        />
        <activity android:name=".StoryDescription"/>
        <activity
                android:name=".InformationActivity"
                android:exported="false"/>
        <activity
                android:name=".RegisterActivity"
                android:exported="false"
                android:theme="@style/Theme.MyApplication"/>
        <activity
                android:name=".LoginActivity"
                android:exported="false"
                android:theme="@style/Theme.MyApplication"/>
        <activity
                android:name=".ForgotPasswordActivity"
                android:exported="false"
                android:theme="@style/Theme.MyApplication"/>
        <activity
                android:name=".MainActivity"
                android:exported="false"/>
        <activity
                android:name=".SplashActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>