<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appepicnovels">

    <application
        android:allowBackup="true"
        android:icon="@drawable/hi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hi"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".InformationActivity"
            android:exported="false" />
        <activity
            android:name="com.example.appepicnovels.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
                android:name="com.example.appepicnovels.LoginActivity"
                android:exported="false"
                android:theme="@style/Theme.MyApplication" />
        <activity
            android:name="com.example.appepicnovels.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name="com.example.appepicnovels.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.appepicnovels.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>